<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>

<body style="background-color: rgb(2, 8, 37);padding-bottom: 20px;box-sizing: border-box;">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(2, 8, 37)">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="/static/icons/noun-flash-cards-4767.png" alt="logo" style="width:40px;height:40px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user_panel')}}">diary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <div class="container-fluid row justify-content-center container-fluid-sm mr-0 ml-0">

        <div class="card d-flex justify-content-center ml-3 mr-3 mt-3" style="width: 18rem;">
            <img id="card-num-1" src="/static/TarotCards/tarot-back/tarot-back.jpg" class="card-img-top fade-in-onload" alt="..." style="width: 180px;height: 300px; margin-left: 18%;">
            <div class="card-body justify-content-center">
                <h5 class="card-title">Card title</h5>
                <p id="wow" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-center">
                    <button id="reveal-1" onclick="card_reveal_1()" class="btn btn-outline-dark mr-3">reveal</button>
                    <button id="replace_1" onclick="replaceCard_1()" disabled="true" class="btn btn-outline-dark rep">replace</button>
                </div>
            </div>
            <button id="myBtn" class="btn btn-outline-dark" disabled>write your thoughts</button>

            <!-- The Modal -->
            <div id="myModal" class="modal container-fluid justify-content-center">

                <!-- Modal content -->
                <div class="modal-content d-flex ">
                    <span class="close">&times;</span>
                    <form id="card_form_1" action="" method="POST" class="d-flex justify-content-center">
                        <textarea name="thoughts" id="diary_text_1" cols="30" rows="10" class="mr-3"></textarea>
                        <button id="submit_1" class="btn text-light ">submit</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="card d-flex justify-content-center ml-3 mr-3 mt-3" style="width: 18rem;">
            <img id="card-num-2" src="/static/TarotCards/tarot-back/tarot-back.jpg" class="card-img-top fade-in-onload" alt="..." style="width: 180px;height: 300px; margin-left: 18%;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button id="reveal-2" onclick="card_reveal_2()" class="btn btn-outline-dark ">reveal</button>
                <button id="replace_2" onclick="replaceCard_2()" disabled="true" class="btn btn-outline-dark rep">replace</button>
            </div>
        </div>

        <div class="card d-flex justify-content-center ml-3 mr-3 mt-3" style="width: 18rem;">
            <img id="card-num-3" src="/static/TarotCards/tarot-back/tarot-back.jpg" class="card-img-top fade-in-onload" alt="..." style="width: 180px;height: 300px; margin-left: 18%;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button id="reveal-3" onclick="card_reveal_3()" class="btn btn-outline-dark ">reveal</button>
                <button id="replace_3" onclick="replaceCard_3()" disabled="true" class="btn btn-outline-dark rep">replace</button>
            </div>
        </div>

        <div class="card d-flex justify-content-center ml-3 mr-3 mt-3" style="width: 18rem;">
            <img id="card-num-4" src="/static/TarotCards/tarot-back/tarot-back.jpg" class="card-img-top fade-in-onload" alt="..." style="width: 180px;height: 300px; margin-left: 18%;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button id="reveal-4" onclick="card_reveal_4()" class="btn btn-outline-dark ">reveal</button>
                <button id="replace_4" onclick="replaceCard_4()" disabled="true" class="btn btn-outline-dark rep">replace</button>
            </div>
        </div>

    </div>
    <script>

        // --------------------- diary from appear ----------------------------

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        // ------------------ AJAX POST request handling ----------------------------
        let xhr = new XMLHttpRequest();
        document.getElementById("submit_1").addEventListener("click", function(event){
            event.preventDefault()
            var modal = document.getElementById("myModal");
            modal.style.display = "none";

            // AJAX request to server handler
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('user_interface') }}", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            toSend = JSON.stringify({
                text:document.getElementById("diary_text_1").value,
                card:document.getElementById("card-num-1").getAttribute('src')
                })
            console.log(toSend)
            xhr.send(toSend);
            console.log('i was clicked')
        });
        let div = document.getElementById('myModal');

        // ------------------------------ button handing ---------------------------
        let indicator = 0;

        function card_reveal_1() {;
            document.getElementById('myBtn').removeAttribute('disabled')
            document.getElementById("card-num-1").setAttribute("src", `/{{ cards[0]["CARD_PATH"] }}`);
            let toDisable = document.createAttribute("disabled");
            toDisable.value = "true";
            document.getElementById("reveal-1").setAttribute("disabled", "true");
            //  -------------------------------------- fade in after rendring with fade in 
            document.getElementById("card-num-1").className = "";
            setTimeout(() => {
                    document.getElementById("card-num-1").setAttribute("src", `/{{ cards[0]["CARD_PATH"] }}`);
                    document.getElementById('card-num-1').className = "card-img-top fade-in-onload"
                }, 5)
                // --------------------------------------

            indicator += 1;
            if (indicator == 4) {
                let toEnable = document.getElementsByClassName("rep");
                for (let i = 0; i < toEnable.length; i++) {
                    toEnable[i].removeAttribute("disabled")
                }
            }

        }

        function card_reveal_2() {


            let att = document.createAttribute("disabled")
            console.log(att)
            att.value = "true";
            document.getElementById("reveal-2").setAttributeNode(att)
            console.log(document.getElementById("card-num-2").setAttribute("class", "card-img-top fade-in-image"))

            //  -------------------------------------- fade in after rendring with fade in 
            document.getElementById("card-num-2").className = "";
            setTimeout(() => {
                    document.getElementById("card-num-2").setAttribute("src", `/{{ cards[1]["CARD_PATH"] }}`);
                    document.getElementById('card-num-2').className = "card-img-top fade-in-onload"
                }, 5)
                // --------------------------------------


            indicator += 1;
            if (indicator == 4) {
                let toEnable = document.getElementsByClassName("rep");
                for (let i = 0; i < toEnable.length; i++) {
                    toEnable[i].removeAttribute("disabled")
                }
            }
        }

        function card_reveal_3() {


            let att = document.createAttribute("disabled")
            att.value = "true";
            document.getElementById("reveal-3").setAttributeNode(att)
            document.getElementById("card-num-3").setAttribute("class", "fade-in-image")

            //  -------------------------------------- fade in after rendring with fade in 
            document.getElementById("card-num-3").className = "";
            setTimeout(() => {
                    document.getElementById("card-num-3").setAttribute("src", `/{{ cards[2]["CARD_PATH"] }}`);
                    document.getElementById('card-num-3').className = "card-img-top fade-in-onload"
                }, 5)
                // --------------------------------------


            indicator += 1;
            if (indicator == 4) {
                let toEnable = document.getElementsByClassName("rep");
                for (let i = 0; i < toEnable.length; i++) {
                    toEnable[i].removeAttribute("disabled")
                }
            }

        }

        function card_reveal_4() {

            let att = document.createAttribute("disabled")
            att.value = "true";
            document.getElementById("reveal-4").setAttributeNode(att)
            document.getElementById("card-num-4").setAttribute("class", "fade-in-image")

            //  -------------------------------------- fade in after rendring with fade in 
            document.getElementById("card-num-4").className = "";
            setTimeout(() => {
                    document.getElementById("card-num-4").setAttribute("src", `/{{ cards[3]["CARD_PATH"] }}`);
                    document.getElementById('card-num-4').className = "card-img-top fade-in-onload"
                }, 5)
                // --------------------------------------

            indicator += 1;
            if (indicator == 4) {
                let toEnable = document.getElementsByClassName("rep");
                for (let i = 0; i < toEnable.length; i++) {
                    toEnable[i].removeAttribute("disabled")
                }
            }

        }

        // ---------------------------- replace card handling functions----------------------------------

        function replaceCard_1() {
            document.getElementById('card-num-1').setAttribute("src", `/{{ cards[4]["CARD_PATH"] }}`);
            let btnArr = document.getElementsByClassName("rep");

            for (let i = 0; i < btnArr.length; i++) {
                btnArr[i].setAttribute("disabled", "true")
            }

        }

        function replaceCard_2() {
            document.getElementById('card-num-2').setAttribute("src", `/{{ cards[4]["CARD_PATH"] }}`);
            let btnArr = document.getElementsByClassName("rep");

            for (let i = 0; i < btnArr.length; i++) {
                btnArr[i].setAttribute("disabled", "true")
            }
        }

        function replaceCard_3() {
            document.getElementById('card-num-3').setAttribute("src", `/{{ cards[4]["CARD_PATH"] }}`);
            let btnArr = document.getElementsByClassName("rep");

            for (let i = 0; i < btnArr.length; i++) {
                btnArr[i].setAttribute("disabled", "true")
            }
        }

        function replaceCard_4() {

            document.getElementById('card-num-4').setAttribute("src", `/{{ cards[4]["CARD_PATH"] }}`);
            let btnArr = document.getElementsByClassName("rep");

            for (let i = 0; i < btnArr.length; i++) {
                btnArr[i].setAttribute("disabled", "true")
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>